<div class="row-fluid">
  <div class="span6 offset3">
    <div class="hero-unit">
      <div class="row-fluid">
          Welcome <%=@user.name%>!
          <p />
          We are happy that you have joined Quicollect.com.
      </div>
    </div>
  </div>
</div>