<h2 class="margin-none separator bottom">
	<i class="icon-time text-primary icon-fixed-width"></i> 
<<<<<<< HEAD
	<%=t('.recent_activities')%>
</h2>

<div id="recent-activities-widget" class="ajax-widget" data-url="<%=recent_activities_path(format: :js)%>">
=======
	Recent Activity
</h2>

<div id="recent-activities-widget" class="ajax-widget" data-url="<%=recent_activities_path%>.js">
>>>>>>> e74b7e8... first commit to the market place app
</div>


