<h2 class="margin-none separator bottom">
	<i class="icon-time text-primary icon-fixed-width"></i> 
	<%=t('.recent_activities')%>
</h2>

<div id="recent-activities-widget" class="ajax-widget" data-url="<%=recent_activities_path(format: :js)%>">
</div>


