<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Dear <%=@agency.contact_name.blank? ? 'Debt Collector' : @agency.contact_name.downcase.titleize %>,</h3>
    <p>
      bla bla bla, new debt...
      <p>Debt title: <%= @debt.title %> </p>
      <p>Debt age: <%= @debt.age %> days </p>
      <p>Debt description: <%= @debt.description %> </p>
    </p>
  </body>
</html>