<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear Debt Collector,</h1>
    <p>
      bla bla bla, new debt...
      <p>Debt title: <%= @debt.title %> </p>
      <p>Debt age: <%= @debt.age %> days </p>
    </p>
  </body>
</html>