<div class="widget widget-heading-simple widget-body-white margin-none widget-flat">
    <div class="widget-body">
    	<h2><i class="icon-bolt text-primary icon-fixed-width"></i>What's new?</h2>
        <div class="separator bottom"></div>
        <div class="glyphicons glyphicon-xlarge user hidden-tablet-partial">
        	<i class="hidden-tablet"></i>
        	<h4>Nothing!</h4>
            <p>Amit, here is something you will probably need to write... not really :)</p>
            <a class="no-spinner" href="http://www.quicollect.com"><span class="text-underline">learn more</span> <span class="icon-circle-arrow-right"></span></a>
        </div>
    </div>
</div>
