<div class="buttons pull-left">

  <%= link_to '#', class: "btn btn-primary btn-icon glyphicons ok text-center form-submit" do %>
    <i></i> Save
  <% end %>
  
  <%= link_to url_for_ex(account), class: "btn btn-default btn-icon glyphicons ban text-center" do %>
    <i></i> Cancel
  <% end %>

  <% if !account.new_record? && can?(:delete, account) %>
    <%= link_to account, method: :delete, data: 
        { confirm: "Are you sure you want to delete account '#{account.name}'?" }, 
      class: "btn btn-danger btn-icon glyphicons bin text-center no-spinner" do%>
      <i></i> Delete
    <% end %>
  <% end %>

</div>

<div class="clearfix"></div>