<h2 class="margin-none separator bottom">
  <i class="icon-thumbs-up text-primary icon-fixed-width"></i>
  <i class="icon-thumbs-down text-primary icon-fixed-width"></i> Review Agencies
</h2>

<div id="non-reviewed-debts-widget" class="ajax-widget" data-url="<%=non_reviewed_debts_path(format: :js)%>">
</div>


