<h2 class="margin-none separator bottom">
  <i class="icon-thumbs-up text-primary icon-fixed-width"></i>
  <i class="icon-thumbs-down text-primary icon-fixed-width"></i> Review Agencies
</h2>

<<<<<<< HEAD
<div id="non-reviewed-debts-widget" class="ajax-widget" data-url="<%=non_reviewed_debts_path(format: :js)%>">
=======
<div id="non-reviewed-debts-widget" class="ajax-widget" data-url="<%=non_reviewed_debts_path%>.js">
>>>>>>> e74b7e8... first commit to the market place app
</div>


