<div class="center">
	<p>Needs more help? <a href="http://www.quicollect.com/contact/">Let us know</a></p>
	<div class="row-fluid">
		<div class="span6">
			<a href="http://www.quicollect.com/" class="btn btn-icon-stacked btn-block sub-primary glyphicons globe no-spinner"><i></i><span class="force-double strong">Visit us</span></a>
		</div>
		<div class="span6">
			<a href="http://www.quicollect.com/contact/" class="btn btn-icon-stacked btn-block sub-primary2 glyphicons envelope no-spinner"><i></i><span class="force-double strong">Contact us</span></a>
		</div>
	</div>
</div>
