<div class="center">
	<p>Needs more help? <a href="http://www.quicollect.com/contact/">Let us know</a></p>
	<div class="row-fluid">
		<div class="span6">
			<a href="http://www.quicollect.com/" class="btn btn-icon-stacked btn-block sub-primary glyphicons user_add"><i></i><span>Visit us on our</span><span class="strong"> Homepage</span></a>
		</div>
		<div class="span6">
			<a href="http://www.quicollect.com/contact/" class="btn btn-icon-stacked btn-block sub-primary2 glyphicons envelope"><i></i><span class="strong">Contact Us</span><span>on our website</span></a>
		</div>
	</div>
</div>
