<div class="hero-unit well">
	<h2 class="center">Congratulation!<span></span></h2>
	<hr class="separator">
	<!-- Row -->
	<div class="row-fluid">

		<!-- Column -->
		<div class="offset2 span4">
			<div class="center">
				<p> The debt with full details of the debt owner was emailed to you at <%=@agency.email%> </p>
			</div>
		</div>
		<!-- // Column END -->
		
		<div class="offset1 span4">
			<%=render partial: 'help'%> 
		</div>
	</div>
	<!-- // Row END -->

</div>