<div class="hero-unit well">
	<h2 class="center">Sorry, debt no longer available! <span></span></h2>
	<hr class="separator">
	<!-- Row -->
	<div class="row-fluid">

		<!-- Column -->
		<div class="offset2 span4">
			<div class="center">
				<p>It seems the debt you are looking for is no longer available or you have mistyped the url. </p>
			</div>
		</div>
		<!-- // Column END -->
		
		<!-- Column -->
		<div class="offset1 span4">
			<%=render partial: 'help'%> 
		</div>
		<!-- // Column END -->
		
	</div>
	<!-- // Row END -->

</div>