<h2 class="margin-none separator bottom">
  <i class="icon-thumbs-up text-primary icon-fixed-width"></i>
  <i class="icon-thumbs-down text-primary icon-fixed-width"></i> <%=t('.recent_reviews')%>
</h2>

<div id="recent-reviews-widget" class="ajax-widget" data-url="<%=recent_reviews_path(format: :js)%>">
</div>


