<h2 class="margin-none separator bottom">
  <i class="icon-thumbs-up text-primary icon-fixed-width"></i>
<<<<<<< HEAD
  <i class="icon-thumbs-down text-primary icon-fixed-width"></i> <%=t('.recent_reviews')%>
</h2>

<div id="recent-reviews-widget" class="ajax-widget" data-url="<%=recent_reviews_path(format: :js)%>">
=======
  <i class="icon-thumbs-down text-primary icon-fixed-width"></i> Recent Reviews
</h2>

<div id="recent-reviews-widget" class="ajax-widget" data-url="<%=recent_reviews_path%>.js">
>>>>>>> e74b7e8... first commit to the market place app
</div>


