<div class="buttons pull-left">

  <%= link_to '#', class: "btn btn-primary btn-icon glyphicons ok text-center form-submit" do %>
    <i></i> Save
  <% end %>

<<<<<<< HEAD
  <%= link_to url_for_ex(resource), class: "btn btn-default btn-icon glyphicons ban text-center" do %>
=======
  <%= link_to debt_path(resource), class: "btn btn-default btn-icon glyphicons ban text-center" do %>
>>>>>>> e74b7e8... first commit to the market place app
    <i></i> Cancel
  <% end %>

  <% if !resource.new_record? && can?(:delete, resource) %>
    <%= link_to debt_path(resource), method: :delete, data: 
        { confirm: "Are you sure you want to delete debt '#{resource.title}'?" }, 
      class: "btn btn-danger btn-icon glyphicons bin text-center no-spinner" do%>
      <i></i> Delete
    <% end %>
  <% end %>

</div>

<div class="clearfix"></div>