
<div class="widget widget-heading-simple widget-body-white margin-none">
	<div class="widget-header">
	  <span>
	    <h4 class="heading glyphicons briefcase" style="display: inline-block;"><i></i>
	      Supporting Documents
	    </h4>
	  </span>
	</div>
	<div class="separator bottom"></div>

	<div class="widget-body">
	  <div class="innerLR">
<<<<<<< HEAD
	    <%= render partial: 'resources/resource', locals: { list_url: debt.new_record? ? '' :debt_resources_path(debt) } %>
=======
	    <%= render partial: 'resources/resource', locals: { list_url: debt_resources_path(debt)} %>
>>>>>>> e74b7e8... first commit to the market place app
	  </div>
	</div>
	<div id="attached_resources"> 
	</div>
</div>



<script>

$("#fileupload").bind("fileupload", function (e, data) {
    file = $("<input>");
    file.attr('id', 'fileinput' + data.id)
    file.attr('type', 'hidden');
    file.attr('value', data.id);
<<<<<<< HEAD
    file.attr('name', 'debts_debt[debt_files_attributes][' + data.id + '][resource_id]');
=======
    file.attr('name', 'debt[debt_files_attributes][' + data.id + '][resource_id]');
>>>>>>> e74b7e8... first commit to the market place app
    $("#attached_resources").append(file);
});

$("#fileupload").bind("filedeleted", function (e, data) {
    $("#fileinput" + data).remove();
});

</script>