<div class="container">
  
<h2>Bootstrap Carousel AJAX Content</h2>
<div class="span5">
  
  <div id="myCarousel" class="carousel">
    <div class="carousel-inner">
      <div class="active item" data-url="/agencies/1/reviews" data-slide-number="0">
          
      </div>
      <div class="item" data-url="/agencies/1/price_models">
          
      </div>
      <div class="item" data-url="/agencies/1/price_models">
          
      </div>
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
  </div>
</div>
  
</div>
