<table class="table table-striped table-condensed table-borderless">
  <tbody>
    <% resources.each do | debt | %>
      <tr>
        <td><%= link_to debt.title, debt_path(debt) %></td>
        <td><%=t('updated')%> <%=time_ago_in_words_ex(debt.updated_at)%></td>
      </tr>
    <% end %>

    <% if resources.length == 0 %> 
      <tr>
        <td>All is Updated!</td>
      </tr>
    <% end %>
  </tbody>
</table>  

<% if resources.length > 0 %>
  <%= link_to debts_path(sort: "updated_at", direction: "asc") do%>
    <span class="text-underline">view all</span> 
      <i class="icon-circle-arrow-right"></i>
  <%end%>
<% end %>
