<h2 class="margin-none separator bottom">
  <i class="icon-bell text-primary icon-fixed-width"></i> Dated debts
</h2>

<<<<<<< HEAD
<div id="dated-debts-widget" class="ajax-widget" data-url="<%=dated_debts_path(format: :js)%>">
=======
<div id="dated-debts-widget" class="ajax-widget" data-url="<%=dated_debts_path%>.js">
>>>>>>> e74b7e8... first commit to the market place app
</div>


