<div id="footer" class="hidden-print">
	      
  <!--  Copyright Line -->
  <div class="copy">&copy; 2013 - <%=link_to 'Quicollect', 'www.quicollect.com'%> - All Rights Reserved.
  </div>
  <!--  End Copyright Line -->
  
</div>
<!-- // Footer END -->