<!-- Sidebar Menu -->
<div id="menu" class="hidden-print">
  <!-- Brand -->
  <%= link_to root_path, class: "appbrand" do %>
  <span class="text-primary">Quicollect</span> 
    <!--span>KIT</span-->
  <% end %> 

<!-- Scrollable menu wrapper with Maximum height -->
  <div class="slim-scroll" data-scroll-height="800px">    
    <!-- Menu Toggle Button -->
    <button type="button" class="btn btn-navbar">
      <span class="icon-bar"></span> 
      <span class="icon-bar"></span> 
      <span class="icon-bar"></span>
    </button>
    <!-- // Menu Toggle Button END -->
    
    <!-- Sidebar Profile -->
    <span class="profile center">
      <a href="my_account_advanced.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible">
        <%= image_tag(Account.find(current_user.account_id).thumbnail)%>
      </a>
    </span>

        
    <!-- // Sidebar Profile END -->
        
    <!-- Menu -->
    <ul>
      <li class="hasSubmenu <%= 'active' if params[:controller] == 'documents' %>">
        <a href="#menu_components" data-toggle="collapse" 
          class="glyphicons settings no-spinner"><i></i><span>Tools</span><span class="icon-chevron-down"></span></a>  
        
        <ul class="collapse" id="menu_components">
      
<<<<<<< HEAD
=======
        <!--li class="hasSubmenu">
          <a href="#menu_components_forms" data-toggle="collapse">Forms<span class="badge badge-primary fix">4</span></a>
          <ul class="collapse" id="menu_components_forms">
            <li class=""><a href="form_wizards.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible">Form Wizards</a></li>
            <li class=""><a href="form_elements.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible">Form Elements</a></li>
            <li class=""><a href="form_validator.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible">Form Validator</a></li>
            <li class=""><a href="file_managers.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible">File Managers</a></li>
          </ul>
        </li>
        
        
        <li class="hasSubmenu">
          <a href="#menu_components_tables" data-toggle="collapse">Tables<span class="badge badge-primary fix">3</span></a>
          <ul class="collapse" id="menu_components_tables">
            <li class=""><a href="tables.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible">Tables</a></li>
            <li class=""><a href="tables_responsive.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible">Responsive Tables</a></li>
            <li class=""><a href="pricing_tables.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible">Pricing tables</a></li>
          </ul>
        </li-->
>>>>>>> e74b7e8... first commit to the market place app
        
        <li>
            <%= link_to documents_path, class: "glyphicons blog" do %>
              <i></i> Documents
            <% end %>
        </li>
<<<<<<< HEAD
=======

        <!--li class="hasSubmenu">
          <a href="#menu_components_api" data-toggle="collapse">APIs<span class="badge badge-primary fix">2</span></a>
          <ul class="collapse" id="menu_components_api">
            <li class=""><a href="twitter.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible">Twitter API</a></li>
            <li class=""><a href="google_analytics.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible">Google Analytics API</a></li>
          </ul>
        </li-->
>>>>>>> e74b7e8... first commit to the market place app
        
      </ul>
    </li>
      
  </div>
  
  <!-- // Scrollable Menu wrapper with Maximum Height END -->
      
</div>
<!-- // Sidebar Menu END -->