<!-- Sidebar Menu -->
<div id="menu" class="hidden-print">
  <!-- Brand -->
  <%= link_to root_path, class: "appbrand" do %>
  <span class="text-primary">Quicollect</span> 
    <!--span>KIT</span-->
  <% end %> 

<!-- Scrollable menu wrapper with Maximum height -->
  <div class="slim-scroll" data-scroll-height="800px">    
    <!-- Menu Toggle Button -->
    <button type="button" class="btn btn-navbar">
      <span class="icon-bar"></span> 
      <span class="icon-bar"></span> 
      <span class="icon-bar"></span>
    </button>
    <!-- // Menu Toggle Button END -->
    
    <!-- Sidebar Profile -->
    <span class="profile center">
      <a href="my_account_advanced.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible">
        <%= image_tag(Account.find(current_user.account_id).thumbnail)%>
      </a>
    </span>

        
    <!-- // Sidebar Profile END -->
        
    <!-- Menu -->
    <ul>
      <li class="hasSubmenu <%= 'active' if params[:controller] == 'documents' %>">
        <a href="#menu_components" data-toggle="collapse" 
          class="glyphicons settings no-spinner"><i></i><span>Tools</span><span class="icon-chevron-down"></span></a>  
        
        <ul class="collapse" id="menu_components">      
        <li>
            <%= link_to documents_path, class: "glyphicons blog" do %>
              <i></i> Documents
            <% end %>
        </li>
      </ul>
    </li>
      
  </div>
  
  <!-- // Scrollable Menu wrapper with Maximum Height END -->
      
</div>
<!-- // Sidebar Menu END -->